.bodyStyle {
    background-color: #1F1F1F;
    color: #fff;
}

.searchStyle {
    background: #1F1F1F;
    box-shadow: 0 0 0 3px #fff;
}

.iconStyle {
    background: #1F1F1F;
}

.searchInputStyle {
    background: #1F1F1F;
    color: #fff;
}

.svgStyle {
    fill: #fff;
}