@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.layout {
    background-color: #1F1F1F;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: #fff;
}

header {
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.logo {
    margin: 0 40px 0 40px;
    fill: #287DFC;
}

.main-content {
    margin-top: 40px;
    height: calc(100vh - 140px);
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: right;
}
