@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.layout {
    background-color: #1F1F1F;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

header {
    height: 160px;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 40px 0 40px; 
}

.btn__reset {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}