.avatars__block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 28px;
}

@media (max-width: 576px) {
    .avatars__block {
        padding: 0;
        margin-left: 0;
    }
}