.avatarBlock {
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.picture {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    z-index: 1;
}

.delButton {
    position: relative;
    visibility: hidden;
    bottom: 35px;
    cursor: pointer;
    right: 55px;
    bottom: 67px;
    z-index: 10;
}

.delButton img {
    width: 40px;
    height: 40px;
}

.likes {
    visibility: hidden;
    position: absolute;
    color: #898989;
    margin-top: 15px;
    font-size: 32px;
    z-index: 10;
}

.onLike {
    color: red;
}

.avatarBlock:hover {
    .delButton {
        visibility: visible;
    }

    .likes {
        visibility: visible;
    }

    .heart {
        visibility: visible;
    }

    .download {
        visibility: visible;
    }

    .picture {
        filter: brightness(40%);
    }
}

.heart {
    visibility: hidden;
    background-color: #898989;
    height: 20px;
    position: relative;
    bottom: 35px;
    transform: rotate(-45deg);
    width: 20px;
    z-index: 10;
    cursor: pointer;
}

.heartRed {
    background-color: red;
}

.heart.heartRed::before,
.heart.heartRed::after {
    content: "";
    background-color: red;
}

.heart:before,
.heart:after {
    content: "";
    background-color: #898989;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

.download {
    cursor: pointer;
    visibility: hidden;
    position: relative;
    bottom: 65px;
    left: 55px;
    z-index: 10;
}

.downloadProfile {
    bottom: 110px;
}

.download img {
    position: relative;
    width: 35px;
    height: 35px;
}