.profileInfo {
    display: flex;
    flex-flow: column;
    padding: 40px;
}

.infoBlock {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profileInfo .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.nickname {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.col-avatar {
    color: #999;
}

.infoBlock button {
    cursor: pointer;
    width: 300px;
    padding: 10px;
    background-color: #15171E;
    color: white;
    border: 2px solid #0de23b;
    font-size: 16px;
    border-radius: 45px;
    margin-top: 5px;
}

.formUploadAvatar {
    color: #fff;
}

.full_input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formUploadAvatar input[type="text"],
.formUploadAvatar input[type="password"],
.formUploadAvatar input[type="email"] {
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    width: 250px;
    height: 30px;
    margin: 10px 0 10px 0;
}

.formUploadAvatar input[type=file]::file-selector-button {
    margin-right: 20px;
    border: 2px solid #0de23b;
    background: #15171E;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.form_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.form_buttons button {
    border: 2px solid #0de23b;
    background: #15171E;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    margin-bottom: 20px;
}

.rules {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 5px;
    color: #777777;
}

.rules p {
    font-size: 14px;
}

.formСhangeSettings input[type="text"],
.formСhangeSettings input[type="password"],
.formСhangeSettings input[type="email"] {
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    width: 250px;
    height: 30px;
    margin: 10px 0 10px 0;
}

.formСhangeSettings input[type=file] {
    color: #fff;
}

.formСhangeSettings input[type=file]::file-selector-button {
    margin-right: 20px;
    border: 2px solid #0de23b;
    background: #15171E;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    margin-bottom: 15px;
}

.newImgBlock {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.newImgBlock h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0de23b;
}